<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
	
	<!-->Add picture from URL<-->
	
	<div class="field">
		<%= f.label :quantity %><br>
		<%= f.text_field :quantity %>
	</div>
	<div class-"field">
		<%= f.label :unit %><br>
		<%= f.text_field :unit %>
	</div>
	<div class="field">
		<%= f.label :notes %><br>
		<%= f.text_area :notes%>
	</div>
	<div class="field">
		<%= f.label :marked, "Bought Already?" %><br>
		<%= f.check_box :marked %> 
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
