%h1 Grocery List:

%table.index
  %thead
    %tr
      %th Item
      %th Where to Find It
      %th What to Look For
      %th Quantity
      %th.actions
      %th.actions
      %th.actions
      %th.actions

  %tbody
    - @items.each do |item| 
      %tr
        %td.item_name= item.name
        %td= item.location
        %td= image_tag(item.picture_url(:thumb)) if item.picture.present? 
        %td
          = item.quantity
          = item.unit
        %td= link_to 'Details', item 
        %td= link_to 'Edit', edit_item_path(item) 
        %td= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } 
        %td
          - if item.marked == false 
            = link_to 'Mark as Bought', mark_item_path(item), method: :post
          - else 
            &#10003
						

= link_to 'Add an Item', new_item_path, class: "btn btn-primary"


